
body {
  margin: 0;
}

.container {
	width: 80%;
  display: flex;
	margin: 0 auto;
  background: black;
}

.logo{
float: left;
height: 100px;
margin: 10px;
}

nav ul {
  float: right;
  margin: 0;
  margin-right: 20px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-top: 30px;
  padding-left: 45px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
}

#Dropdown{
  font-size: 12px;
  display: none;
  position: absolute;
  width: 300%;
  text-align: center;
  columns: 2;
  background-color: gray;
  border-radius: 25px;
  z-index: 1;
  margin-top: 25px;
}

#Dropdown.li {
  padding: 10px 15px;
  color: white;
}

#Dropdown.DropdownActive{
  display:block;
}

#Dropdown.DropdownInactive{
  display: none;
}

#DropdownCharacter{
  font-size: 12px;
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  columns: 1;
  background-color: gray;
  border-radius: 25px;
  z-index: 1;
  margin-top: 25px;
}

#DropdownCharacter.li {
  padding: 10px 15px;
  color: white;
}

#DropdownCharacter.DropdownActive{
  display:block;
}

#DropdownCharacter.DropdownInactive{
  display: none;
}

nav ul li ul li a{
  font-size: 14px;
  text-align: center;
  padding: 0;
}

nav ul li ul li a:hover{
  color: black;
}

nav ul li a:hover{
  color: gray;
  transition: all 0.4s ease;
}

nav ul li a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

body{
    margin: 0;
}

section{
    padding: 10%;
    font-size: 3vh;
    padding-top: 3%;
}

.Center{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0%;
}

article img{
  font-size: 5vw;
  height: 30vw;
  width: 30vw;
  padding-top: 3%;
}

article ul li a{
  text-decoration: none;
  list-style: none;
  font-size: 22px;
  color: black;
}

article p{
  padding-bottom: 2%;
}

.Blog{
  font-size: 1.3vw;
  padding-left: 15%;
  padding-right: 15%;
}

.About{
  font-size: 16px;
  margin: 4vw;
  padding-right: 15%;
  padding-left: 15%;
  border-style:dotted;
  padding-bottom: 3%;
}

.Details{
margin: 0;
}

.Menubtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-left: 550px;
  cursor: pointer;
  display: none;
}

.Menubtn img{
  height: 40px;
  width: 40px;
  margin-top: 30px;
}

#Menu{
  display: none;
}

@media (max-width: 960px) {
  .Menubtn{
    display: block;
}
  ul{
    position: fixed;
    width: 75.6%;
    height: 100vh;
    background: black;
    top: 120px;
    left: 10%;
    text-align: center;
    transition: all 0.5s;
}
  nav ul li{
    display: inline-block;
    margin: 15px 0;
    line-height: 30px;
}
  nav ul li a{
    font-size: 20px;
    margin: 200px;
  }

  #Menu:checked ~ ul{
    display: none;
}

  #Dropdown{
    display: none;
  }
  
  #Dropdown.DropdownActive{
    display:none;
  } 
  #Dropdown.DropdownInactive{
    display: none;
  }
}

@media (max-width: 1200px){
  nav ul li a{
    color:white;
    font-size: 10px;
  }
  nav ul li {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
  }
}