
body {
  margin: 0;
}

.container {
	width: 80%;
  display: flex;
	margin: 0 auto;
}

.logo{
float: left;
height: 100px;
margin: 10px;
}

header {
  background: black;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding-bottom: 60px;
  padding-right: 30px;
  display:inherit;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-top: 30px;
  padding-left: 45px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
}

#Dropdown{
  font-size: 12px;
  display: none;
  position: absolute;
  width: 300%;
  text-align: center;
  columns: 2;
  background-color: gray;
  border-radius: 25px;
  z-index: 1;
  margin-top: 25px;
}

#Dropdown.li {
  padding: 10px 15px;
  color: white;
}

#Dropdown.DropdownActive{
  display:block;
}

#Dropdown.DropdownInactive{
  display: none;
}

#DropdownCharacter{
  font-size: 12px;
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  columns: 1;
  background-color: gray;
  border-radius: 25px;
  z-index: 1;
  margin-top: 25px;
}

#DropdownCharacter.li {
  padding: 10px 15px;
  color: white;
}

#DropdownCharacter.DropdownActive{
  display:block;
}

#DropdownCharacter.DropdownInactive{
  display: none;
}

nav ul li ul li a{
  font-size: 14px;
  text-align: center;
  padding: 0;
}

nav ul li ul li a:hover{
  color: black;
}

nav ul li a:hover{
  color: gray;
  transition: all 0.4s ease;
}

nav ul li a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

body{
    margin: 0;
}

section{
    padding: 10%;
    font-size: 3vh;
    padding-top: 3%;
}

.Center{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0%;
}

article img{
  font-size: 5vw;
  height: 30vw;
  width: 30vw;
  padding-top: 3%;
}

article ul li a{
  text-decoration: none;
  list-style: none;
  font-size: 22px;
  color: black;
}

article p{
  padding-bottom: 2%;
}

.Blog{
  font-size: 1.3vw;
  padding-left: 15%;
  padding-right: 15%;
}

.About{
  font-size: 1.4vw;
  margin: 4vw;
  padding-right: 15%;
  padding-left: 15%;
  border-style:dotted;
  padding-bottom: 3%;
}

.Details{
margin: 0;
}

.Menu{
float: right;
height: 50px;
width: 50px;
display: none;
}


@media (max-width: 800px) {
  nav ul {
    margin: 0;
    padding-bottom: 60px;
    padding-right: 0px;
    display:none;
    list-style: none;
  }

  .Menu{
    float: inline-end;
    position:inherit;
    flex: inherit;
    padding: 40px;
    display: inline-table;
    margin-right: 20px;
    margin-left: 280px;
  }

  #Dropdown{
    display: none;
  }
  
  #Dropdown.DropdownActive{
    display:none;
  } 
  #Dropdown.DropdownInactive{
    display: none;
  }
}