/* GENERAL PC STYLING */

body {
  margin: 0;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.logo{
float: left;
height: 100px;
margin: 10px;
}

nav ul {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
   list-style: none;
}

nav ul li a:hover{
  color: gray;
  transition: all 0.4s ease;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.75rem;
    font-size: 2.25vh;
    text-transform: uppercase;
}

#Dropdown{
  font-size: 10px;
  display: none;
  position: absolute;
  width: 30%;
  height: 75vh;
  text-align: left;
  columns: 2;
  background-color: gray;
  border-radius: 25px;
  z-index: 1;
  margin-top: 50px;
}

#Dropdown.DropdownActive{
  display:block;
}

#Dropdown.DropdownInactive{
  display: none;
}

#DropdownCharacter{
  font-size: 10px;
  display: none;
  position: absolute;
  width: 15%;
  height: 40vh;
  text-align: left;
  columns: 1;
  background-color: gray;
  border-radius: 25px;
  z-index: 1;
  margin-top: 50px;
}

#DropdownCharacter.DropdownActive{
  display:block;
}

#DropdownCharacter.DropdownInactive{
  display: none;
}

nav ul li ul li a{
  color: white;
  font-size: 2vh;
  text-align: center;
  padding: 1rem;
}

nav ul li ul li a:hover{
  color: black;
}
body{
    margin: 0;
}

section{
    padding: 10%;
    font-size: 3vh;
    padding-top: 3%;
}

#Map{
  margin: 0 auto;
  margin-bottom: 5%;
  height: 75vh;
  width: 70vw;
}

.Center{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0%;
}

article img{
  font-size: 5vw;
  height: 30vw;
  width: 30vw;
  padding-top: 3%;
}

article ul li a{
  text-decoration: none;
  font-size: 22px;
  color: black;
}

article ul li{
  list-style: none;
}

article p{
  padding-bottom: 2%;
}

.Blog{
  font-size: 24px;
  padding-left: 15%;
  padding-right: 15%;
}

.About{
  font-size: 24px;
  margin: 4vw;
  padding-right: 15%;
  padding-left: 15%;
  border-style:dotted;
  padding-bottom: 3%;
}

.Details{
margin: 0;
}

.Menubtn{
  position: absolute;
  height: 30px;
  width: 30px;
  padding: auto;
  right: 15px;
  top: 45px;
  display: none;
  float: right;
  justify-content: space-between;
}

/* FOR TABLETS --> IPad etc */

@media (max-width: 1040px){
  nav ul li a{
    padding: 1.5rem;
    font-size: 1.5vh;
    text-transform: uppercase;
  }

  .Blog
  {
    font-size: 22px;
  }

  #DropdownCharacter.DropdownActive{
    display:none;
  }
  
  #DropdownCharacter.DropdownInactive{
    display: none;
  }

  #Dropdown.DropdownActive{
    display:none;
  }
  
  #Dropdown.DropdownInactive{
    display: none;
  }
}

/* FOR MOBILE DEVICES --> Samsung Galaxy S5; IPhone X */

@media (max-width: 810px){
  .Menubtn {
    display: flex;
  }

  nav ul{
    width: 100%;
    flex-direction: column;
  }

  .NavList li{
    display: none;
    width: 100%;
    text-align: center;
    left: 400px;
  }

  nav ul li a{
    text-align: center;
    padding: 1.5rem;
  }

  nav{
    width: 100%;
  }

  .container{
    flex-direction: column;
    align-items: flex-start;
  }

  .NavListActive li{
    display: absolute;
    width: 100%;
    text-align: center;
    left: 400px;
  }

  .Blog
  {
    margin: 0;
    padding: 5px;
    font-size: 18px;
  }

  .Center img{
    height: 60vw;
    width: 60vw;
  }

  #DropdownCharacter.DropdownActive{
    display:none;
  }
  
  #DropdownCharacter.DropdownInactive{
    display: none;
  }

  #Dropdown.DropdownActive{
    display:none;
  }
  
  #Dropdown.DropdownInactive{
    display: none;
  }
}
